
/* body {
    box-sizing: border-box;
}

h1 {
    color: blue;
    background-color: greenyellow;
    width: 100%;
    margin-top: 0px;
} */



/* bulb */


/* .bulb {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    border: 1px solid black;
    margin: 0 auto;
    margin-top: 40px;
}
button {
    margin:  0 auto;
    padding: 10px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    border: none;
    font-size: 1.6rem;
    background-color: red;
    border-radius: 40px;
    color: aliceblue;
} */

/* h1 {
    font-size: 70px;
    font-weight: 800;
} */

#box {
    width: 300px;
    height: 300px;
    background-color: skyblue;
    margin: 0 auto;
}